@font-face {
    font-family:'Proxima N W01 Smbd';
}

@font-face {
    font-family:'Proxima N W01 Reg';
}

@font-face {
    font-family:'Proxima N W01 Bold';
}

@font-face {
 font-family: "[%FontFamilyName%]";
 src: url([%FontURL%]) format("[%FontFormat%]");
}

@font-face {
 font-family: "[%SecondFontFamilyName%]";
 src: url([%SecondFontURL%]) format("[%SecondFontFormat%]");
}


p {
  margin: 0;
}



.impression-tracker {
  display: none;
}

.hidden {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.ad-link {
  text-decoration: none;
}

.container {
  max-width: 1605px;
  margin: 0 auto;
  font-family: 'Proxima N W01 Reg', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.flex-frame {
  position: relative;
  width: 100%;
  height: 270px;
  box-sizing: border-box;
  background-size: cover;
  background-position: right;
  border: 1px solid #cccccc;
  background-color: [%BackgroundColor%];
  color: [%FontColor%];
}

<!--Remove Context bullet CSS

.context-bullet {
  color: black;
  width: 100%;
  padding-left: 10px;
  display: table;
  height: 30px;
}

.context-bullet-content {
  font-family: 'Proxima N W01 Smbd', sans-serif;
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
  display: table-cell;
}

.context-bullet-content span {
  font-family: 'Proxima N W01 Reg', sans-serif;
}

-->

.content-container {
  display: none;
  position: relative;
  float: left;
  pointer-events: all;
  z-index: 3;
  width: calc(40% - 10px);
  height: 100%;
  padding-right: 10px;
  background: url('[%OptionalImageSecondContainer%]');
  background-size: cover;
  background-position: center;
}

.media-container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.media-content {
  position: absolute;
  z-index: 3;
  left: 10px;
  bottom: 10px;
}

.video-content {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  z-index: 9999;
}


.img-container {
  display: none;
  width: calc(100% - 1005px);
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.img-container img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
}

/*
.video-cover {
  pointer-events: none;
  background-image: url('[DesktopVideoPoster]');
  background-size: cover;
  background-position: top center;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
}

*/

.media-container .logo {
  align-self: center;
  padding-left: 10px;
  padding-top: 10px;
}


.content-container .logo {
  margin-bottom: 81px;
  position:absolute;
  top:1px;
  margin-left:25px;
  margin-top:25px;
}

.logo img {
  display: block;
  text-align: left;
  max-width: [%LogoMaxWidth%];
  max-height: [%LogoMaxHeight%];
}

.logo .logo-hi-res {
  display: none;
}

.tablet-action-item {
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 42px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.tablet-action-item-logo {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
}


.content-well {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.content-middle-well {
  align-self: flex-end;
  margin-right: auto;
  margin-left: 25px;
}

.title {
  font-size: 27px;
  font-family: 'Proxima N W01 Smbd', sans-serif;
  max-width: 485px;
  margin-bottom: 1px;
  line-height: 1;
}

.media-container .title {
  margin-bottom: 1px;
  /*height: 42px;
  line-height: 42px;*/
}

.summary {
  font-size: 18px;
  max-width: 280px;
}

.content-container .summary {
  margin-bottom: 0px;
}

.cta {
  pointer-events: all;
  flex: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: 'Proxima N W01 Bold', sans-serif;
  font-weight: 800;
  border: 1px solid [%FontColor%];
  color: [%FontColor%];
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
  margin-top:12px;
}

.media-container .cta {
  align-self: center;
  margin-bottom: 0;
}

a:link, a:visited, a:focus {
  color: [%FontColor%];
  text-decoration: none;
  min-height: 1px;
}

/*
.js-canvas {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  top: 0;
}
*/

.gradient {
  position: absolute;
  left: 0;
    background-image:
    linear-gradient(
      to top,
      rgba(0,0,0,0.6), rgba(255,255,255,0) 60%
    );
  width: 100%;
  height: 100%;
  z-index: 2;
}

#vid-tracker {
  display:none;
}


/* Styles for video player controls*/

/*
.player-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}


.media-container:hover .player {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

*/

/*css for mobile player*/

/*
.player {
  flex: none;
  position: absolute;
  z-index: 3;
  
  pointer-events: all;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  left:50%;
  top:40%;
}

.player::selection {
  background-color: transparent;
}

.player__controller {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;x
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.player__controller-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
}

.player__controller-icon::before,
.player__controller-icon::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#player__state {
  width: 0;
  height: 0;
  border: none;
  visibility: hidden;
}

.player__controller-icon::before {
  content: "";
  left: 0;
  transition: all 0.2s linear;
  width: 0;
  height: 8px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid white;
}
.player__controller-icon::after {
  content: "";
  right: 0;
  transition: all 0.3s;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid white;
}
#player__state:checked + .player__controller .player__controller-icon::before {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 5.3px;
  height: 100%;
}
#player__state:checked + .player__controller .player__controller-icon::after {
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 5.3px;
  height: 100%;
}

/*

/* Breakpoints */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo .logo-hi-res {
    display: block;
  }
  .logo .logo-std {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .content-container {
    display: flex;
    width: calc(100% - 490px);
  }
/*css for desktop player*/


 /* .player {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  */

  .media-container {
    width: 480px;
  }

  .media-container .logo {
    display: none;
    padding-top:10px;
    padding-left:10px;
  }

  .media-container .cta {
    display: none;
  }

  .media-content {
    display: none;
  }

 .video-content {
    margin: 0px;
  }

/*
  .js-canvas {
    margin: 0px;
  }
  
  */
}




@media screen and (min-width: 1250px) {
  .content-container {
    width: 515px;
  }

  .img-container {
    display: block;
  }
}



@media screen and (max-width: 960px) {

.cta{
   color:[%TabletFontColor%];
}
 
.title {
  color:[%TabletFontColor%]; 

}

.summary{
color:[%TabletFontColor%];

 }
 
}   


@media screen and (max-width: 831px) {

.title {
  font-size:20px;
  line-height: 22px;
  
}

.summary {
  font-size:16px;
  line-height: 18px;
  
}

.content-container .logo {
margin-bottom: 93px;
position:absolute; 
top:1px;
margin-left: 25px; 
margin-top:25px
}  

}

@media screen (max-width:840px) and (min-width:785px) {
   .content-container .logo {
       margin-bottom: 90px;

	}  

}


@media screen and (max-width: 700px) {
  #container {
    display: none;
  }
}

/* -------- tanvir's edit ------------ */

@media (max-width: 974px) {

	.video-content {
    	width: 480px;
        height: 270px;
    }

	.media-container {
    	background-color: [%BackgroundTabletColor%];
    }
    
    .content-container {
    	background-color: [%BackgroundTabletColor%];
    }

	.ad-video {
        width: 480px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        left: -5px;
        right: 0px;
        position: absolute;
    }
    
    .ad-video div {
    	position: absolute;
        width: 480px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
        right: 0px;
    }
    
	video {
        height: 270px !important;
        width: 480px;
    }
  }

/* ---- end of tanvir's edit ---------- */


[%CustomCSS%]
